html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.img-text {
    width: 50%;
    padding: 30px;
}

/* Custom styles for pagination */
.pagination-container {
    margin: 20px 0;
}

.pagination {
    justify-content: right;
}

.page-item {
    margin: 0 2px;
}

.page-link {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #007bff;
    border: 1px solid #dee2e6;
}

    .page-link:hover {
        background-color: #e9ecef;
        color: #0056b3;
    }

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

    